BMP_MTW BITMAP DISCARDABLE "cube.bmp"
BMP_ATW BITMAP DISCARDABLE "cubeanim.bmp"
ICO_D2	ICON DISCARDABLE "dragoon.ico"
ICO_D3S ICON DISCARDABLE "d3serv.ico"
BMP_D3S BITMAP DISCARDABLE "d3serv-ico.bmp"
BMP_DIR	BITMAP DISCARDABLE "dir.bmp"
NOTLOADED BITMAP DISCARDABLE "notloaded.bmp"
BMP_CARD BITMAP DISCARDABLE "bluebook.bmp"
BMP_CARDTYPE BITMAP DISCARDABLE "yellowbook.bmp"
BMP_OCAML BITMAP DISCARDABLE "ocaml.bmp"
BMP_PIC BITMAP DISCARDABLE "picture.bmp"
BMP_DISCARD BITMAP DISCARDABLE "dcard.bmp"
BMP_DISDECK BITMAP DISCARDABLE "ddeck.bmp"