body
	{
	padding: 0px 0px 0px 26px;
	background: #ffffff; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	}
	
h1, h2, h3, h4
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: -26px;
	}

h1
	{
	font-size: 145%;
	margin-top: .5em;
	margin-bottom: .5em; 
	}
	
h2
	{
	font-size: 130%;
	margin-top: 1em;
	margin-bottom: .6em; 
	}
	
h3
	{
	font-size: 115%;
	margin-top: 1em;
	margin-bottom: .6em;
	}
	
h4
	{
	font-size: 100%;
	margin-top: 1em;
	margin-bottom: .6em; 
	}

ul
	{
	list-style-type: disc; 
	margin-left: 1.9em; 
	}

table
	{
	width: 90%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
		
td
	{ 
	padding: 4px 8px;
	vertical-align: top;
	font-size: 70%;
	}

pre
	{
	color: #000033;
	background: #DDEEEE;
	padding: 4px 8px;
	margin-left: 50px;
	margin-right: 50px;
	}

a:link
	{
	color: #0066ff;
	}
	
a:visited
	{
	color: #996600; 
	}
	
a:hover
	{
	color: #cc9900;
	}
